@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

html, body {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", monospace;
    font-size: 16pt;
}

header,
footer {
    text-align: center;
}

.firstly-hide {
    display: none;
}

section > div,
.input-group {
    margin-bottom: 25px;
}

input.x{
    width: 75px;
    text-align: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin-left: 2px;
}

input.x:focus {
    outline: 1px solid blue;
}

.add-x-button {
    margin-left: 10px;
}

#fx {
    font-weight: bold;
}

#limit-button {
    margin-bottom: 10px;
}
